<div class="main-content-wrapper">

  <section class="crumina-module crumina-module-slider crumina-main-slider">
    <!--Prev next buttons-->

    <div class="swiper-btn-prev">
      <svg class="crumina-icon">
        <use xlink:href="#icon-prev"></use>
      </svg>
    </div>

    <div class="swiper-btn-next">
      <svg class="crumina-icon">
        <use xlink:href="#icon-next"></use>
      </svg>
    </div>

    <div class="swiper-container" data-effect="fade" data-show-items="1" data-change-handler="thumbsParent"
         data-prev-next="1" data-autoplay="4000">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide stunning-header-bg4 bg-position-center">

          <div class="container">
            <div class="row">
              <div class="col-lg-12">

                <div class="slider-content">

                  <h2 class="slider-content-title"
                      data-swiper-parallax="-100">{{"WEBSITE_IMPORTANCE_TITLE"|translate}}</h2>

                  <p class="slider-content-text" data-swiper-parallax="-200">
                    {{"WEBSITE_IMPORTANCE"|translate}}
                  </p>

                  <div class="universal-btn-wrapper">
                    <a routerLink="/services"
                       class="crumina-button button--blue button--l">{{"KNOW_MORE"|translate}}</a>

                  </div>

                </div>

                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider1.png" alt="products">
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide stunning-header-bg3 bg-position-center">

          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0 align-left">
                <div class="slider-content">

                  <h2 class="slider-content-title {{'text_right'|translate}}" data-swiper-parallax="-100">
                    {{"MOBILE_APPLICATION_IMPORTANCE_TITLE"|translate}}</h2>

                  <p class="slider-content-text {{'text_right'|translate}}"
                     data-swiper-parallax="-200">{{"MOBILE_APPLICATION_IMPORTANCE"|translate}} </p>

                  <div class="universal-btn-wrapper">
                    <a routerLink="/services"
                       class="crumina-button button--blue button--l">{{"KNOW_MORE"|translate}}</a>
                  </div>

                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider2.png" alt="products">
                  <!--                  <img class="swiper-lazy" src="assets/img/demo-content/images/slider2.png" alt="slider">-->
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="swiper-slide stunning-header-bg2 bg-position-center">

          <div class="container">
            <div class="row align-items-center ">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0 ">
                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider7.png" alt="products">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="slider-content">

                  <h2 class="slider-content-title {{'text_right'|translate}}"
                      data-swiper-parallax="-100">{{"VISUAL_CONTENT_TITLE"|translate}}</h2>

                  <p class="slider-content-text {{'text_right'|translate}}" data-swiper-parallax="-200">ا
                    {{"VISUAL_CONTENT"|translate}}
                  </p>
                  <div class="universal-btn-wrapper">
                    <a routerLink="/services"
                       class="crumina-button button--orange button--l">{{"KNOW_MORE"|translate}}</a>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="swiper-slide stunning-header-bg5 bg-position-center">

          <div class="container">
            <div class="row">
              <div class="col-lg-12">

                <div class="slider-content">

                  <h2 class="slider-content-title "
                      data-swiper-parallax="-100">{{"BRANDING_IMPORTANCE_TITLE"|translate}}</h2>

                  <p class="slider-content-text" data-swiper-parallax="-200">
                    {{"BRANDING_IMPORTANCE"|translate}}
                  </p>

                  <div class="universal-btn-wrapper">
                    <a routerLink="/services"
                       class="crumina-button button--blue button--l">{{"KNOW_MORE"|translate}}</a>
                  </div>

                </div>

                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider4.png" alt="products">
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide stunning-header-bg6 bg-position-center">

          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0 align-left">
                <div class="slider-content">

                  <h2 class="slider-content-title {{'text_right'|translate}}"
                      data-swiper-parallax="-100">{{"LOGO_IMPORTANCE_TITLE"|translate}}</h2>

                  <p class="slider-content-text {{'text_right'|translate}}"
                     data-swiper-parallax="-200">{{"LOGO_IMPORTANCE"|translate}}
                  </p>
                  <div class="universal-btn-wrapper">
                    <a routerLink="/services"
                       class="crumina-button button--blue button--l">{{"KNOW_MORE"|translate}}</a>
                  </div>

                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider5.png" alt="products">
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide stunning-header-bg7 bg-position-center">

          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0">
                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider6.png" alt="products">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-left">
                <div class="slider-content">

                  <h2 class="slider-content-title {{'text_right'|translate}}"
                      data-swiper-parallax="-100">{{"MANAGEMENT_SYSTEMS_TITLE"|translate}}</h2>

                  <p class="slider-content-text {{'text_right'|translate}}" data-swiper-parallax="-200">
                    {{"MANAGEMENT_SYSTEMS"|translate}}
                  </p>

                  <div class="universal-btn-wrapper">
                    <a routerLink="/services"
                       class="crumina-button button--orange button--l">{{"KNOW_MORE"|translate}}</a>
                  </div>

                </div>
              </div>

            </div>
          </div>

        </div>


      </div>

      <!--Pagination tabs-->


    </div>

  </section>


  <section class="large-section-padding bg-grey {{'right_direction'|translate}}">
    <div class="container">
      <div class="row">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-center mb-4 mb-lg-0">
            <h2>همراه با ری بولد در مسیر رشد</h2>
            <p class="fs-18 ">ما به کیفیت کاری عالی و ارتباط دوامدار با مشتریان خود باورمندیم. و این باور را با ارائه
              خدمات بهتر، قیمت مناسب و جلب رضایت مشتریان خویش حفظ می کنیم. </p>
            <p class="fs-18 ">شرکت نرم افزاری و گرافیک ری بولد با هدف خلق زمینه کسب و کار آنلاین حرفه‌ای پویا و منعطف،
              در
              کنار شما حضور دارد تا به بهترین شکل در فضای آنلاین حضور داشته باشید.
              قرار گیری به عنوان یک تیم نرم افزاری و گرافیک در کنار کسب و کار‌ها،‌شرکت‌ها و سازمان‌ها و کاهش هزینه‌های
              توسعه و نگهداری محصولات و تبلیغات مؤثر، از اهداف شرکت به شمار می‌رود. شرکت نرم افزاری و گرافیک ری بولد با
              بهره‌مندی
              از تیم‌های چند تخصصی و تکنولوژی روز دنیا، مفتخر است تا در زمینه طراحی اپلیکیشن موبایل، توسعه وبسایت و
              سیستم
              تحت وب،‌سافتویر های مدیریت اطلاعات، پیاده‌سازی پلتفرم‌های کسب و کار،‌ خدمات گرافیکی چون برندینگ،‌ دیزاین
              انواع موشن و ویدیو های تبلیغاتی و دگر خدمات گرافیکی به همراهان خود ارائه خدمت نماید.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                 lazyLoad="assets/img/demo-content/images/raybold-new.svg" alt="products">
          </div>
        </div>

      </div>

    </div>
  </section>
  <section class="large-section-padding bg-blue-themes">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 align-center mb-5 ml-auto mr-auto">
          <h2 class="text-white">{{"WHAT_HAPPENED"|translate}}</h2>
          <p class="fs-18 fw-medium text-white">{{"WHAT_HAPPENED_TEXT"|translate}}</p>
        </div>
      </div>

      <div class="row  {{'right_direction'|translate}}">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="tabs tabs--style6">
            <div class="nav nav-tabs" id="tabs-with-slider" role="tablist">
              <a class="nav-item nav-link active " id="simplified-cloud-tab" data-toggle="tab" href="#simplified-cloud"
                 role="tab" aria-controls="simplified-cloud" aria-selected="true">
                <img loading="lazy" src="assets/img/demo-content/icons/customer.png" alt="tab">
                {{"CLIENTS"|translate}}
                <span class="font-size-large">
                  +40
                </span>
              </a>
              <a class="nav-item nav-link" id="instant-setup-tab" data-toggle="tab" href="#instant-setup" role="tab"
                 aria-controls="instant-setup" aria-selected="false">
                <img loading="lazy" src="assets/img/demo-content/icons/product.png" alt="tab">
                {{"PRODUCTS"|translate}}

                <span class="font-size-large">
                  +5
                </span>
              </a>
              <a class="nav-item nav-link " id="boost-website-speed-tab" data-toggle="tab"
                 href="#boost-website-speed" role="tab" aria-controls="boost-website-speed" aria-selected="false">
                <img loading="lazy" src="assets/img/demo-content/icons/project.png" alt="tab">
                {{"PROJECTS"|translate}}
                <span class="font-size-large">
                   +30
                </span>
              </a>
            </div>
          </div>

          <div class="tab-content {{'right_direction'|translate}}" id="myTabContent6">
            <div class="tab-pane fade show active" id="simplified-cloud" role="tabpanel"
                 aria-labelledby="simplified-cloud-tab">
              <div class="crumina-module crumina-module-slider pagination-bottom-center">
                <div class="swiper-container" data-show-items="1" data-prev-next="1" data-space-between="0">
                  <div class="swiper-wrapper">
                    <div class="row align-items-center">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 {{'text_right'|translate}}">
                        <h3 class="text-white "> {{"CLIENTS"|translate}}</h3>
                        <p class="text-white">{{"CLIENTS_TEXT"|translate}} </p>
                        <p class="text-white">{{"CLIENTS_CATEGORY"|translate}}</p>
                        <ul class="list--standard list--icon-blue">
                          <li>
                            <svg class="crumina-icon">
                              <use xlink:href="#icon-single-arrow"></use>
                            </svg>
                            <span>&nbsp;&nbsp;</span>
                            <span class="text-white">{{"SOFTWARE_CLIENTS"|translate}}</span>
                          </li>
                          <li>
                            <svg class="crumina-icon">
                              <use xlink:href="#icon-single-arrow"></use>
                            </svg>
                            <span>&nbsp;&nbsp;</span>
                            <span class="text-white">{{"GRAPHIC_CLIENTS"|translate}}</span>
                          </li>
                          <li>
                            <svg class="crumina-icon">
                              <use xlink:href="#icon-single-arrow"></use>
                            </svg>
                            <span>&nbsp;&nbsp;</span>
                            <span class="text-white">{{"CONSULTANCY_CLIENTS"|translate}}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-md-0">
                        <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                             lazyLoad="assets/img/demo-content/images/customers.png" alt="products">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="instant-setup" role="tabpanel" aria-labelledby="instant-setup-tab">
              <div class="crumina-module crumina-module-slider pagination-bottom-center">

                <div class="swiper-container" data-show-items="1" data-prev-next="1" data-space-between="0">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 {{'text_right'|translate}}">
                      <h3 class="text-white">{{"PRODUCTS"|translate}}</h3>
                      <p class="text-white">
                        {{"PRODUCTS_TEXT"|translate}}
                      </p>
                      <p class="text-white">{{"OUR_PRODUCTS"|translate}}</p>
                      <ul class="list--standard list--icon-blue {{'text_right'|translate}}">
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">{{"BIOMETRIC_SYSTEM"|translate}}</span>
                        </li>
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">{{"HOSPITAL_SYSTEM"|translate}}</span>
                        </li>
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">{{"RESTAURANT_SYSTEM"|translate}}</span>
                        </li>
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">{{"SCHOOL_SYSTEM"|translate}}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-md-0">
                      <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                           lazyLoad="assets/img/demo-content/images/products.png" alt="products">

                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="boost-website-speed" role="tabpanel"
                 aria-labelledby="boost-website-speed-tab">
              <div class="crumina-module crumina-module-slider pagination-bottom-center">

                <div class="swiper-container" data-show-items="1" data-prev-next="1" data-space-between="0">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 {{'text_right'|translate}}">
                      <h3 class="text-white">{{"PROJECTS"|translate}}</h3>
                      <p class="text-white">
                        {{"PROJECT_TEXT"|translate}}
                      </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-md-0">
                      <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                           lazyLoad="assets/img/demo-content/images/projects.png" alt="products">
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="large-section-padding {{'right_direction'|translate}}">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 align-center mr-auto ml-auto mb-5">
          <h3>{{"WHY_RAYBOLD"|translate}}</h3>
          <p class="fs-18 ">{{"WHY_RAYBOLD_TEXT"|translate}}</p>
        </div>
      </div>
      <div class="row {{'right_direction'|translate}}">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 mb-4 mb-lg-0">
          <div class="crumina-module crumina-info-box info-box--icon-scaled">
            <h6 class="info-box-title">{{"MAINTENANCE"|translate}}</h6>
            <div class="info-box-thumb">
              <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                   lazyLoad="assets/img/demo-content/icons/maintenance.png" alt="products">
            </div>
            <div class="info-box-content">
              <p class="info-box-text">{{"MAINTENANCE_TEXT"|translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 mb-4 mb-lg-0">
          <div class="crumina-module crumina-info-box info-box--icon-scaled">
            <h6 class="info-box-title">{{"PHASE_TO_PHASE_DELIVERY"|translate}}</h6>
            <div class="info-box-thumb">
              <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                   lazyLoad="assets/img/demo-content/icons/timeline.png" alt="products">
            </div>
            <div class="info-box-content">
              <p class="info-box-text">{{"PHASE_TO_PHASE_DELIVERY_TEXT"|translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 mb-4 mb-lg-0">
          <div class="crumina-module crumina-info-box info-box--icon-scaled">
            <h6 class="info-box-title">{{"QUALITY_AND_PRICE"|translate}}</h6>
            <div class="info-box-thumb">
              <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                   lazyLoad="assets/img/demo-content/icons/quality.png" alt="products">
            </div>
            <div class="info-box-content">
              <p class="info-box-text">
                {{"QUALITY_AND_PRICE_TEXT"|translate}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 mb-4 mb-lg-0">
          <div class="crumina-module crumina-info-box info-box--icon-scaled">
            <h6 class="info-box-title">{{"MARKETING"|translate}}</h6>
            <div class="info-box-thumb">
              <!--              <img src="assets/img/demo-content/icons/marketing1.png" alt="icon">-->
              <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                   lazyLoad="assets/img/demo-content/icons/marketing1.png" alt="products">
            </div>
            <div class="info-box-content">
              <p class="info-box-text">
                {{"MARKETING_TEXT"|translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  <section class="large-section-padding section-bg3">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-auto align-center">-->
  <!--          <h2>ری بولد از نگاه مشتریان</h2>-->
  <!--          <h6 class="fw-medium fs-18 text-white">نظرات مشتریان ری بولد را در مورد خدمات و محصولات ماا اینجا بخوانید</h6>-->
  <!--        </div>-->
  <!--        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">-->
  <!--          <div-->
  <!--            class="crumina-module crumina-module-slider crumina-slider&#45;&#45;testimonial navigation-bottom-center pagination-bottom-center">-->

  <!--            <div class="swiper-btn-prev swiper-btn-white">-->
  <!--              <svg class="crumina-icon icon-line-arrow-left">-->
  <!--                <use xlink:href="#icon-arrow-left"></use>-->
  <!--              </svg>-->
  <!--            </div>-->

  <!--            <div class="swiper-btn-next swiper-btn-white">-->
  <!--              <svg class="crumina-icon icon-line-arrow-right">-->
  <!--                <use xlink:href="#icon-arrow-right"></use>-->
  <!--              </svg>-->
  <!--            </div>-->

  <!--            <div class="swiper-container " data-show-items="2" data-prev-next="1">-->
  <!--              <div class="swiper-wrapper ">-->
  <!--                <div class="swiper-slide" *ngFor="let customer of  customers">-->
  <!--                  <div class="crumina-module crumina-testimonial-item testimonial&#45;&#45;author-bottom">-->
  <!--                    <div class="testimonial-content {{'text_right'|translate}} direction-rtl ">-->
  <!--                      <p class="{{'right_direction'|translate}}" [innerHTML]="customer.review"></p>-->
  <!--                    </div>-->
  <!--                    <div class="author-content-wrap">-->
  <!--                      <div class="avatar">-->
  <!--                        <img src="assets/img/demo-content/avatars/author2.png" alt="avatar">-->
  <!--                      </div>-->
  <!--                      <div class="author-content">-->
  <!--                        <div class="author-company">{{customer.title}}</div>-->
  <!--                      </div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->

  <!--            &lt;!&ndash; If we need pagination &ndash;&gt;-->
  <!--            <div class="swiper-pagination swiper-pagination-white"></div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->


  <section class="large-section-padding bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-auto align-center">
          <h2>{{"WHAT_OUR_CLIENTS_SAY"|translate}}</h2>
          <h6 class="fw-medium fs-18 text-white">{{"READ_CLIENTS_VIEWPOINT"|translate}}</h6>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
          <div
            class="crumina-module crumina-module-slider crumina-slider--testimonial navigation-center-both-sides pagination-bottom-center">

            <div class="swiper-btn-prev">
              <svg class="crumina-icon icon-line-arrow-left">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </div>

            <div class="swiper-btn-next">
              <svg class="crumina-icon icon-line-arrow-right">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </div>

            <div class="swiper-container" data-show-items="3" data-prev-next="1">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let customer of  customers">
                  <div class="crumina-module crumina-testimonial-item testimonial--author-top">
                    <div class="testimonial-content">
                      <div class="avatar bg-white border-radius-full  padding-5">
                        <img class="customer-logo-small " *ngIf="customer?.path" src="{{customer?.path}}" alt="avatar">
                        <img *ngIf="!customer?.path" src="assets/img/demo-content/avatars/author2.png" alt="avatar">

                      </div>
                      <p class="testimonial-text {{'right_direction'|translate}} " [innerHTML]="customer.review">
                      </p>
                    </div>

                    <div class="author-content">
                      <div class="author-company">{{customer.title}}</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--  <section class="large-section-padding section-bg2">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-auto align-center">-->
  <!--          <h2>مشتری ها بزرگ ری بلود</h2>-->
  <!--          <h6 class="fw-medium fs-18">Purus gravida quis blandit turpis cursus in hac. Sollicitudin aliquam ultrices-->
  <!--            sagittis orci a scelerisque. Quisque egestas diam in arcu cursus euismod.</h6>-->
  <!--        </div>-->
  <!--        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">-->
  <!--          <div-->
  <!--            class="crumina-module crumina-module-slider crumina-slider&#45;&#45;testimonial navigation-center-both-sides pagination-bottom-center">-->

  <!--            <div class="swiper-btn-prev">-->
  <!--              <svg class="crumina-icon icon-line-arrow-left">-->
  <!--                <use xlink:href="#icon-arrow-left"></use>-->
  <!--              </svg>-->
  <!--            </div>-->

  <!--            <div class="swiper-btn-next">-->
  <!--              <svg class="crumina-icon icon-line-arrow-right">-->
  <!--                <use xlink:href="#icon-arrow-right"></use>-->
  <!--              </svg>-->
  <!--            </div>-->

  <!--            <div class="swiper-container" data-show-items="3" data-prev-next="1">-->
  <!--              <div class="swiper-wrapper">-->
  <!--                <div class="swiper-slide">-->
  <!--                  <div class="crumina-module crumina-testimonial-item testimonial&#45;&#45;author-top">-->
  <!--                    <div class="testimonial-content">-->
  <!--                      <h6 class="testimonial-text">-->
  <!--                        Quisque egestas diam in arcu cursus euismod.-->
  <!--                        Lectus urna duis convallis convallis tellus. Sagittis orci a scelerisque purus.-->
  <!--                      </h6>-->
  <!--                    </div>-->

  <!--                    <div class="author-content">-->
  <!--                      <a href="#" class="author-name h6">Jonathan Simpson</a>-->
  <!--                      <div class="author-company">Envato Market</div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->

  <!--            &lt;!&ndash; If we need pagination &ndash;&gt;-->
  <!--            <div class="swiper-pagination"></div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->

  <section class="pt120">
    <div class="container">
      <div class="row mb-5 align-items-end {{'right_direction'|translate}}">
        <div class="{{'float_right'|translate}} {{'text_right'|translate}}">
          <h2>{{"OUR_PRODUCTS"|translate}}</h2>
          <p class="fs-16  {{'right_direction'|translate}}">{{"PRODUCTS_TEXT"|translate}}</p>
          <p class=" {{'right_direction'|translate}}">{{"CHECKOUT_PRODUCTS"|translate}}</p>
        </div>
        <div class="{{'float_left' | translate}}">
          <a class="crumina-button button--green button--l button--bordered"
             routerLink="/products">{{"MORE_PRODUCTS"|translate}}</a>
        </div>
      </div>
    </div>
    <div class="pricing-tables-border-bottom-wrap">
      <div *ngFor="let product of products;let i=index">
        <div style="height: 580px" *ngIf="product.is_main_file==='1'"
             class="crumina-module crumina-pricing-tables-item pricing-tables-item-border-bottom cursor-pointer"
             [class]=product.color>
          <div class="main-pricing-content">
            <div class="pricing-thumb">
              <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                   [lazyLoad]="product.path.toString()" alt="products">
            </div>
            <h5 class="pricing-title">{{product.title}}</h5>
            <p class="pricing-description"><span [innerHTML]="product.content|sanitizeHtml"></span></p>
            <a routerLink="/products/products-details/{{product.product_id}}/{{product.title}}" class="pricing-link">
              <svg class="crumina-icon">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </a>
          </div>
          <div class="bg-layer"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="large-section-padding section-bg1">
    <div class="container {{'right_direction'|translate}}">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-auto align-center">
          <h2>{{"OUR_CUSTOMERS"|translate}}</h2>
          <h6 class="fw-medium fs-18 {{'text_right'|translate}}">{{"COMPANY_LIFE_CUSTOMER"|translate}}</h6>
          <h6 class="fw-medium fs-18 {{'text_right'|translate}}">{{"OUR_CUSTOMERS_TEXT"|translate}}</h6>
          <br>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
          <div
            class="crumina-module crumina-module-slider crumina-slider--testimonial navigation-center-both-sides pagination-bottom-center">
            <div class="swiper-btn-prev position-absolute" style="top: 50px;">
              <svg class="crumina-icon icon-line-arrow-left">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </div>
            <div class="swiper-btn-next position-absolute" style="top: 50px;">
              <svg class="crumina-icon icon-line-arrow-right">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </div>
            <div class="swiper-container" data-show-items="5" data-prev-next="1">
              <div class="swiper-wrapper">
                <div class="swiper-slide align-center" *ngFor="let customer of customers">
                  <a href="{{customer.link}}" class="crumina-module clients-item">
                    <!--                    <img [src]="customer.path" alt="Client" class="img-thumbnail customer-logo">-->
                    <img class="img-thumbnail customer-logo" [defaultImage]="'assets/img/loader-2.svg'"
                         [lazyLoad]="customer.path.toString()" alt="products">
                  </a>
                </div>
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="large-section-padding direction-rtl">
    <div class="container">
      <div class="row mb-5 align-center  justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <h2>{{"OUR_LATEST_BLOG"|translate}}</h2>
          <p class="fs-18 fw-medium {{'right_direction'|translate}}">{{"READ_BLOG_TEXT"|translate}}</p>
        </div>
      </div>
      <div class="row {{'right_direction'|translate}}">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb30 {{'text_right'|translate}}"
             *ngFor="let blog of latestBlog">
          <article class="entry post post-standard has-post-thumbnail">
            <div class="post-thumb">
              <img [defaultImage]="'assets/img/loader-2.svg'"
                   [lazyLoad]="blog.path.toString()" alt="blog">
            </div>
            <div class="post-content pt-4">
              <div class="row">
                <h6 class=" float-right col-lg-7 "><a
                  routerLink="../blog/blog-details/{{blog.id}}/{{blog.title}}/{{blog.blog_category_id}}"
                  class="post-title h6">{{blog.title}}</a></h6>
                <p class=" float-left col-lg-5">{{blog.created_at| date: 'MMM d, y'}}</p>
              </div>
              <div class="post-text ">
                <p><span [innerHTML]=" blog.content  |sanitizeHtml "></span></p>
              </div>
              <div class="post-additional-info">
                <div class="author-posted">
                  <p class="author">{{"AUTHOR"|translate}}{{blog.full_name}}</p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center">
          <a routerLink="../blog" class="crumina-button button--dark button--l">{{"READ_OUR_BLOG"|translate}}</a>
        </div>
      </div>
    </div>
  </section>

</div>

