<div class="main-content-wrapper">

  <section class="crumina-module crumina-module-slider crumina-main-slider">
    <!--Prev next buttons-->

    <div class="swiper-btn-prev">
      <svg class="crumina-icon">
        <use xlink:href="#icon-prev"></use>
      </svg>
    </div>

    <div class="swiper-btn-next">
      <svg class="crumina-icon">
        <use xlink:href="#icon-next"></use>
      </svg>
    </div>

    <div class="swiper-container" data-effect="fade" data-show-items="1" data-change-handler="thumbsParent"
         data-prev-next="1" data-autoplay="4000">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide stunning-header-bg4 bg-position-center">

          <div class="container">
            <div class="row">
              <div class="col-lg-12">

                <div class="slider-content">

                  <h2 class="slider-content-title" data-swiper-parallax="-100">تجارت مدرن با وب سایت</h2>

                  <p class="slider-content-text" data-swiper-parallax="-200">
                    داشتن انترنت امروزه سبب شده است که اکثریت
                    از تجارت ها روی انترنت قرار بگیرد و وب سایت ها پلی است بین شرکت ها ومشترییانشان. اگر شما هم صاحب
                    تجارتی هستید و می خواهید تجارت خود را از حالت سنتی به حالت مدرن تبدیل کنید
                    از طریق انترنت در آمد کنید و برای خود اعتبار ایجاد کنید، ضرورت به وبسایت دارید پس برای خود وب سایت
                    بسازید
                  </p>

                  <div class="universal-btn-wrapper">
                    <a routerLink="/services" class="crumina-button button--blue button--l">بیشتر بدانید</a>

                  </div>

                </div>

                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider1.png" alt="products">
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide stunning-header-bg3 bg-position-center">

          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0 align-left">
                <div class="slider-content">

                  <h2 class="slider-content-title text-right" data-swiper-parallax="-100">چرا از برنامه موبایل استفاده
                    کنیم</h2>

                  <p class="slider-content-text text-right" data-swiper-parallax="-200">امروزه با توجه به استقبال
                    کاربران از اپلیکیشن‌های موبایل، مهم نیست که کسب و کار شما چه محصولاتی را ارائه می‌دهد، فقط باید
                    به این نکته دقت داشت که مشتریان به دنبال بهترین و راحت‌ترین مسیر برای خرید هستند و هنگامی که کسب و
                    کار شما اپلیکیشن مناسبی را با قابلیت‌های ویژه در اختیار آن‌ها قرار دهد متعاقبا نرخ بهره‌وری روبه
                    رشدی را مشاهده خواهید کرد </p>

                  <div class="universal-btn-wrapper">
                    <a routerLink="/services" class="crumina-button button--blue button--l">بیشتر بدانید</a>
                  </div>

                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider2.png" alt="products">
                  <!--                  <img class="swiper-lazy" src="assets/img/demo-content/images/slider2.png" alt="slider">-->
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="swiper-slide stunning-header-bg2 bg-position-center">

          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0">
                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider7.png" alt="products">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-left">
                <div class="slider-content">

                  <h2 class="slider-content-title text-right" data-swiper-parallax="-100">اهمیت محتوای تصویری در افزایش
                    مشتری شما</h2>

                  <p class="slider-content-text text-right" data-swiper-parallax="-200">از آنجایی که نقش تصویر در
                    یادگیری اهمیت بسیار بالایی دارد
                    اکثر شرکت ها نیز با توجه به این موضوع سعی می کنند
                    با تولید محتوای تصویری مناسب نسبت به جذب مشتری اقدام نمایند.
                    از آنجایی که بیش از 80% یادگیری ها و تجربه ها از راه دیدن شکل می گیرد
                    در نتیجه میزان تاثیری که یک عکس یا فیلم بر اشخاص می گذارد
                    خیلی بیشتر از تاثیر شنیدن و خواندن در مورد آن موضوع می باشد
                  </p>
                  <ul class="slider-list">
                    <li>انیمیشن گرافیک</li>
                    <li>موشن گرافیک</li>
                    <li>ویدیوگرافیک</li>
                    <li>دیزاین پوستر</li>
                  </ul>

                  <div class="universal-btn-wrapper">
                    <a routerLink="/services" class="crumina-button button--orange button--l">بیشتر بدانید</a>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="swiper-slide stunning-header-bg5 bg-position-center">

          <div class="container">
            <div class="row">
              <div class="col-lg-12">

                <div class="slider-content">

                  <h2 class="slider-content-title " data-swiper-parallax="-100">آیا برندینگ برای همه لازم است ؟</h2>

                  <p class="slider-content-text" data-swiper-parallax="-200">
                    برندینگ درسازمان های موفق این روزها دیگر به عنوان یک امر تشریفاتی محسوب نمی شود و ضرورت ایجاد و
                    مدیریت آن بر بسیاری از مدیران آنها نیز پوشیده نیست، یک برند، اولین و احتمالاً بزرگترین توصیف و یا
                    «ظاهر» یک محصول، یک خدمت یا یک سازمان است
                  </p>

                  <div class="universal-btn-wrapper">
                    <a routerLink="/services" class="crumina-button button--blue button--l">بیشتر بدانید</a>
                  </div>

                </div>

                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider4.png" alt="products">
                </div>

              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide stunning-header-bg6 bg-position-center">

          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0 align-left">
                <div class="slider-content">

                  <h2 class="slider-content-title text-right" data-swiper-parallax="-100">دیزاین لوگو</h2>

                  <p class="slider-content-text text-right" data-swiper-parallax="-200"> لوگو تنها یک سمبول گرافیکی نیست
                    بلکه نشانی است که شما را در ذهن مخاطب قرار می دهد .
                    زمانیکه مخاطبان برای اولین باربا یک نشان تجارتی مواجه می شوند جذابیت لوگو می تواند یک عامل تعیین
                    کننده در جذب مخاطب باشد
                  </p>

                  <ul class="slider-list">
                    <li> لوگو تصویری</li>
                    <li>لوگو نوشتاری</li>
                    <li>لوگوهای حرف نماد</li>
                    <li> لوگو های ترکیبی</li>
                  </ul>

                  <div class="universal-btn-wrapper">
                    <a routerLink="/services" class="crumina-button button--blue button--l">بیشتر بدانید</a>
                  </div>

                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider5.png" alt="products">
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="swiper-slide stunning-header-bg7 bg-position-center">

          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0">
                <div class="slider-thumb" data-swiper-parallax="-400" data-swiper-parallax-duration="600">
                  <img class="swiper-lazy" [defaultImage]="'assets/img/loader-2.svg'"
                       lazyLoad="assets/img/demo-content/images/slider6.png" alt="products">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-left">
                <div class="slider-content">

                  <h2 class="slider-content-title text-right" data-swiper-parallax="-100">سیستم های مدیریتی چیست ؟</h2>

                  <p class="slider-content-text text-right" data-swiper-parallax="-200">
                    سیستم هایی که اطلاعات مناسب را برای تصمیم گیری مناسب مدیران مهیا می کند. مدیران از این سیستم ها
                    استفاده
                    می کنند تا بتوانند اطلاعات صحیح و دقیقی در مورد سازمان، مشتریان و محیط سازمان به دست آورند. و از
                    آنجایی که جمع آوری و تجزیه و تحلیل اطلاعات، منافع زیادی برای مدیران در بر دارد نقش و اهمیت این
                    سیستم ها بیشتر نمایان می شود</p>

                  <div class="universal-btn-wrapper">
                    <a routerLink="/services" class="crumina-button button--orange button--l">بیشتر بدانید</a>
                  </div>

                </div>
              </div>

            </div>
          </div>

        </div>


      </div>

      <!--Pagination tabs-->


    </div>

  </section>


  <section class="large-section-padding bg-grey right-direction">
    <div class="container">
      <div class="row">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-center mb-4 mb-lg-0">
            <h2>همراه با ری بولد در مسیر رشد</h2>
            <p class="fs-18 ">ما به کیفیت کاری عالی و ارتباط دوامدار با مشتریان خود باورمندیم. و این باور را با ارائه
              خدمات بهتر، قیمت مناسب و جلب رضایت مشتریان خویش حفظ می کنیم. </p>
            <p class="fs-18 ">شرکت نرم افزاری و گرافیک ری بولد با هدف خلق زمینه کسب و کار آنلاین حرفه‌ای پویا و منعطف،
              در
              کنار شما حضور دارد تا به بهترین شکل در فضای آنلاین حضور داشته باشید.
              قرار گیری به عنوان یک تیم نرم افزاری و گرافیک در کنار کسب و کار‌ها،‌شرکت‌ها و سازمان‌ها و کاهش هزینه‌های
              توسعه و نگهداری محصولات و تبلیغات مؤثر، از اهداف شرکت به شمار می‌رود. شرکت نرم افزاری و گرافیک ری بولد با
              بهره‌مندی
              از تیم‌های چند تخصصی و تکنولوژی روز دنیا، مفتخر است تا در زمینه طراحی اپلیکیشن موبایل، توسعه وبسایت و
              سیستم
              تحت وب،‌سافتویر های مدیریت اطلاعات، پیاده‌سازی پلتفرم‌های کسب و کار،‌ خدمات گرافیکی چون برندینگ،‌ دیزاین
              انواع موشن و ویدیو های تبلیغاتی و دگر خدمات گرافیکی به همراهان خود ارائه خدمت نماید.</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                 lazyLoad="assets/img/demo-content/images/raybold-new.svg" alt="products">
          </div>
        </div>

      </div>

    </div>
  </section>
  <section class="large-section-padding bg-blue-themes">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 align-center mb-5 ml-auto mr-auto">
          <h2 class="text-white">تا به امروز در ری بولد چی گذشته است</h2>
          <p class="fs-18 fw-medium text-white">ما با افتخار دست آوردهای تیم خودرا به شکل مختصر به شما نشان میدهیم</p>
        </div>
      </div>

      <div class="row  right-direction">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="tabs tabs--style6">
            <div class="nav nav-tabs" id="tabs-with-slider" role="tablist">
              <a class="nav-item nav-link active " id="simplified-cloud-tab" data-toggle="tab" href="#simplified-cloud"
                 role="tab" aria-controls="simplified-cloud" aria-selected="true">
                <img loading="lazy" src="assets/img/demo-content/icons/customer.png" alt="tab">
                مشتری ها
                <span class="font-size-large">
                  +40
                </span>
              </a>
              <a class="nav-item nav-link" id="instant-setup-tab" data-toggle="tab" href="#instant-setup" role="tab"
                 aria-controls="instant-setup" aria-selected="false">
                <img loading="lazy" src="assets/img/demo-content/icons/product.png" alt="tab">
                محصولات
                <span class="font-size-large">
                  +5
                </span>
              </a>
              <a class="nav-item nav-link " id="boost-website-speed-tab" data-toggle="tab"
                 href="#boost-website-speed" role="tab" aria-controls="boost-website-speed" aria-selected="false">
                <img loading="lazy" src="assets/img/demo-content/icons/project.png" alt="tab">
                پروژه ها
                <span class="font-size-large">
                   +30
                </span>
              </a>
            </div>
          </div>

          <div class="tab-content right-direction" id="myTabContent6">
            <div class="tab-pane fade show active" id="simplified-cloud" role="tabpanel"
                 aria-labelledby="simplified-cloud-tab">
              <div class="crumina-module crumina-module-slider pagination-bottom-center">
                <div class="swiper-container" data-show-items="1" data-prev-next="1" data-space-between="0">
                  <div class="swiper-wrapper">
                    <div class="row align-items-center">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                        <h3 class="text-white">مشتریان ما</h3>
                        <p class="text-white">ری بولد در طول چندین سال خدمات موفق خویش توانسته است اعتماد تعداد زیادی از
                          مشتریانش را جلب کرده و روابط دوامدار و دوستانه ای را شکل دهد. </p>
                        <p class="text-white">این مشتریان در بخشهای ذیل کتگوری بندی می شود:</p>
                        <ul class="list--standard list--icon-blue">
                          <li>
                            <svg class="crumina-icon">
                              <use xlink:href="#icon-single-arrow"></use>
                            </svg>
                            <span>&nbsp;&nbsp;</span>
                            <span class="text-white">مشتریان خدمات نرم افزاری</span>
                          </li>
                          <li>
                            <svg class="crumina-icon">
                              <use xlink:href="#icon-single-arrow"></use>
                            </svg>
                            <span>&nbsp;&nbsp;</span>
                            <span class="text-white">مشتریان خدمات گرافیکی</span>
                          </li>
                          <li>
                            <svg class="crumina-icon">
                              <use xlink:href="#icon-single-arrow"></use>
                            </svg>
                            <span>&nbsp;&nbsp;</span>
                            <span class="text-white">مشتریان خدمات مشاوره</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-md-0">
                        <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                             lazyLoad="assets/img/demo-content/icons/a5.png" alt="products">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="instant-setup" role="tabpanel" aria-labelledby="instant-setup-tab">
              <div class="crumina-module crumina-module-slider pagination-bottom-center">

                <div class="swiper-container" data-show-items="1" data-prev-next="1" data-space-between="0">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                      <h3 class="text-white">محصولات</h3>
                      <p class="text-white">تیم ری بولد با در نظرداشت ضرورت های نرم افزاری جامعه و ایجاد سهولت برای
                        صاحبان کسب وکار و سازمانها تعدادی از سیستم های کاربردی را تهیه کرده است</p>
                      <p class="text-white">این سیستم ها </p>
                      <ul class="list--standard list--icon-blue">
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">سیسنم حاضری بایومتریک</span>
                        </li>
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">سیستم مدیریت شفاخانه</span>
                        </li>
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">سیستم مدیریت رستورانت</span>
                        </li>
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">سیستم مدیریت مکتب</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-md-0">
                      <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                           lazyLoad="assets/img/demo-content/icons/a4.png" alt="products">

                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="boost-website-speed" role="tabpanel"
                 aria-labelledby="boost-website-speed-tab">
              <div class="crumina-module crumina-module-slider pagination-bottom-center">

                <div class="swiper-container" data-show-items="1" data-prev-next="1" data-space-between="0">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                      <h3 class="text-white">پروژه ها</h3>
                      <p class="text-white">تیم ری بولد افتخار دارد که از آغاز کار خویش به عنوان شرکت نرم افزاری و
                        گرافیکی
                        تا اکنون توانسته است پروژه های با کیفیت و مورد پسند مشتریان خویش را در بخش نرم افزار و گرافیک به
                        موفقیت تکمیل کند. </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-md-0">
                      <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                           lazyLoad="assets/img/demo-content/icons/a3.png" alt="products">
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="large-section-padding right-direction">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 align-center mr-auto ml-auto mb-5">
          <h3>چرا ری بولد؟</h3>
          <p class="fs-18 fw-medium ">کار باکیفیت و استندرد، خلاقیت و نوآوری از ویژگی های برجسته شرکت ما بوده که به آن
            افتخار می
            کنیم.</p>
          <p class="fs-18 ">یکی از دغدغه های بزرگ صاحبان کسب و کار و سازمانها انتخاب یک شرکت مناسب و قابل اعتبار برای
            ارائه خدمات نرم افزاری و گرافیکی می باشد.برعلاوه اکثر شرکتها و سازمانها نگرانی های زیادی در رابطه به تغییرات
            بازار،‌بروز بودن چه در بخش نرم افزاری و چه در بخش گرافیکی دارند. هدف اصلی ما در شرکت نرم افزاری و گرافیک
            ری بولد ارائه ساز و کاری با کیفیت و سریع است که
            تا با نهایت انعطاف پذیری، ایده یا کسب و کار شما را در مسیر پیشرفت یاری کند.</p>
        </div>
      </div>
      <div class="row right-direction">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 mb-4 mb-lg-0">
          <div class="crumina-module crumina-info-box info-box--icon-scaled">
            <h5 class="info-box-title">پشتیبانی و ضمانت محصول</h5>
            <div class="info-box-thumb">
              <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                   lazyLoad="assets/img/demo-content/icons/maintenance.png" alt="products">
            </div>
            <div class="info-box-content">
              <p class="info-box-text">پشتیبانی فنی محصولات نرم افزاری شرکت ری بولد اعم از وبسایت، کد‌های سرور و
                اپلیکیشن‌های موبایل و وب، در دستور کار قرار دارد</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 mb-4 mb-lg-0">
          <div class="crumina-module crumina-info-box info-box--icon-scaled">
            <h5 class="info-box-title">زمان بندی تحویل فاز به فاز</h5>
            <div class="info-box-thumb">
              <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                   lazyLoad="assets/img/demo-content/icons/timeline.png" alt="products">
            </div>
            <div class="info-box-content">
              <p class="info-box-text">تحویل پروژه ها بر اساس زمانبندی مشخص شده بر اثر توافق شرکت و مشتری</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 mb-4 mb-lg-0">
          <div class="crumina-module crumina-info-box info-box--icon-scaled">
            <h5 class="info-box-title">کیفیت بالا وقیمت مناسب</h5>
            <div class="info-box-thumb">
              <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                   lazyLoad="assets/img/demo-content/icons/quality.png" alt="products">
            </div>
            <div class="info-box-content">
              <p class="info-box-text">ارائه خدمات نرم افزاری و گرافیکی با کیفیت عالی وقیمت مناسب با استفاده از تکنولوژی
                ها و میتود های بروز دنیا</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 mb-4 mb-lg-0">
          <div class="crumina-module crumina-info-box info-box--icon-scaled">
            <h5 class="info-box-title">مارکتینگ و گسترش محصول</h5>
            <div class="info-box-thumb">
              <!--              <img src="assets/img/demo-content/icons/marketing1.png" alt="icon">-->
              <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                   lazyLoad="assets/img/demo-content/icons/marketing1.png" alt="products">
            </div>
            <div class="info-box-content">
              <p class="info-box-text">ارائه راهکار جهت معرفی محصول در بازار و همچنین شیوه‌ی مدیریت منابع در راستای فروش
                محصول بر مبنای تحلیل‌های روز دنیا </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  <section class="large-section-padding section-bg3">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-auto align-center">-->
  <!--          <h2>ری بولد از نگاه مشتریان</h2>-->
  <!--          <h6 class="fw-medium fs-18 text-white">نظرات مشتریان ری بولد را در مورد خدمات و محصولات ماا اینجا بخوانید</h6>-->
  <!--        </div>-->
  <!--        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">-->
  <!--          <div-->
  <!--            class="crumina-module crumina-module-slider crumina-slider&#45;&#45;testimonial navigation-bottom-center pagination-bottom-center">-->

  <!--            <div class="swiper-btn-prev swiper-btn-white">-->
  <!--              <svg class="crumina-icon icon-line-arrow-left">-->
  <!--                <use xlink:href="#icon-arrow-left"></use>-->
  <!--              </svg>-->
  <!--            </div>-->

  <!--            <div class="swiper-btn-next swiper-btn-white">-->
  <!--              <svg class="crumina-icon icon-line-arrow-right">-->
  <!--                <use xlink:href="#icon-arrow-right"></use>-->
  <!--              </svg>-->
  <!--            </div>-->

  <!--            <div class="swiper-container " data-show-items="2" data-prev-next="1">-->
  <!--              <div class="swiper-wrapper ">-->
  <!--                <div class="swiper-slide" *ngFor="let customer of  customers">-->
  <!--                  <div class="crumina-module crumina-testimonial-item testimonial&#45;&#45;author-bottom">-->
  <!--                    <div class="testimonial-content text-right direction-rtl ">-->
  <!--                      <p class="right-direction" [innerHTML]="customer.review"></p>-->
  <!--                    </div>-->
  <!--                    <div class="author-content-wrap">-->
  <!--                      <div class="avatar">-->
  <!--                        <img src="assets/img/demo-content/avatars/author2.png" alt="avatar">-->
  <!--                      </div>-->
  <!--                      <div class="author-content">-->
  <!--                        <div class="author-company">{{customer.title}}</div>-->
  <!--                      </div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->

  <!--            &lt;!&ndash; If we need pagination &ndash;&gt;-->
  <!--            <div class="swiper-pagination swiper-pagination-white"></div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->


  <section class="large-section-padding bg-grey">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-auto align-center">
          <h2>ری بولد از نگاه مشتریان</h2>
          <h6 class="fw-medium fs-18 text-white">نظرات مشتریان ری بولد را در مورد خدمات و محصولات ماا اینجا بخوانید</h6>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
          <div
            class="crumina-module crumina-module-slider crumina-slider--testimonial navigation-center-both-sides pagination-bottom-center">

            <div class="swiper-btn-prev">
              <svg class="crumina-icon icon-line-arrow-left">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </div>

            <div class="swiper-btn-next">
              <svg class="crumina-icon icon-line-arrow-right">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </div>

            <div class="swiper-container" data-show-items="3" data-prev-next="1">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let customer of  customers">
                  <div class="crumina-module crumina-testimonial-item testimonial--author-top">
                    <div class="testimonial-content">
                      <div class="avatar bg-white border-radius-full  padding-5">
                        <img class="customer-logo-small " *ngIf="customer?.path" src="{{customer?.path}}" alt="avatar">
                        <img *ngIf="!customer?.path" src="assets/img/demo-content/avatars/author2.png" alt="avatar">

                      </div>
                      <p class="testimonial-text right-direction " [innerHTML]="customer.review">
                      </p>
                    </div>

                    <div class="author-content">
                      <div class="author-company">{{customer.title}}</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!--  <section class="large-section-padding section-bg2">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-auto align-center">-->
  <!--          <h2>مشتری ها بزرگ ری بلود</h2>-->
  <!--          <h6 class="fw-medium fs-18">Purus gravida quis blandit turpis cursus in hac. Sollicitudin aliquam ultrices-->
  <!--            sagittis orci a scelerisque. Quisque egestas diam in arcu cursus euismod.</h6>-->
  <!--        </div>-->
  <!--        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">-->
  <!--          <div-->
  <!--            class="crumina-module crumina-module-slider crumina-slider&#45;&#45;testimonial navigation-center-both-sides pagination-bottom-center">-->

  <!--            <div class="swiper-btn-prev">-->
  <!--              <svg class="crumina-icon icon-line-arrow-left">-->
  <!--                <use xlink:href="#icon-arrow-left"></use>-->
  <!--              </svg>-->
  <!--            </div>-->

  <!--            <div class="swiper-btn-next">-->
  <!--              <svg class="crumina-icon icon-line-arrow-right">-->
  <!--                <use xlink:href="#icon-arrow-right"></use>-->
  <!--              </svg>-->
  <!--            </div>-->

  <!--            <div class="swiper-container" data-show-items="3" data-prev-next="1">-->
  <!--              <div class="swiper-wrapper">-->
  <!--                <div class="swiper-slide">-->
  <!--                  <div class="crumina-module crumina-testimonial-item testimonial&#45;&#45;author-top">-->
  <!--                    <div class="testimonial-content">-->
  <!--                      <h6 class="testimonial-text">-->
  <!--                        Quisque egestas diam in arcu cursus euismod.-->
  <!--                        Lectus urna duis convallis convallis tellus. Sagittis orci a scelerisque purus.-->
  <!--                      </h6>-->
  <!--                    </div>-->

  <!--                    <div class="author-content">-->
  <!--                      <a href="#" class="author-name h6">Jonathan Simpson</a>-->
  <!--                      <div class="author-company">Envato Market</div>-->
  <!--                    </div>-->
  <!--                  </div>-->
  <!--                </div>-->
  <!--              </div>-->
  <!--            </div>-->

  <!--            &lt;!&ndash; If we need pagination &ndash;&gt;-->
  <!--            <div class="swiper-pagination"></div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->

  <section class="pt120">
    <div class="container">
      <div class="row mb-5 align-items-end">

        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-12 align-left right-direction">
          <a class="crumina-button button--green button--l button--bordered" routerLink="/products">محصولات
            بیشتر...</a>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-4 col-xs-12 align-right">
          <h2>محصولات ما</h2>
          <p class="fs-16  right-direction">شرکت ری بولد با در نظرداشت ضرورتهای جامعه و مشتریان خویش تعدادی از
            محصولات ساوفتویری کاربردی خودرا به شما معرفی می کند.
            این سیستم ها از لحاظ کیفی، کاربردی، و سهولت در استفاده رضایت اکثر مشتریان خویش را کسب کرده است. </p>
          <p class=" right-direction">از محصولات ما دیدن کنید!</p>
        </div>
      </div>
    </div>
    <div class="pricing-tables-border-bottom-wrap">
      <div *ngFor="let product of products;let i=index">
        <div style="height: 580px" *ngIf="product.is_main_file==='1'"
             class="crumina-module crumina-pricing-tables-item pricing-tables-item-border-bottom cursor-pointer"
             [class]=product.color>
          <div class="main-pricing-content">
            <div class="pricing-thumb">
              <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                   [lazyLoad]="product.path.toString()" alt="products">
            </div>
            <h5 class="pricing-title">{{product.title}}</h5>
            <p class="pricing-description"><span [innerHTML]="product.content|sanitizeHtml"></span></p>
            <a routerLink="/products/products-details/{{product.product_id}}/{{product.title}}" class="pricing-link">
              <svg class="crumina-icon">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </a>
          </div>
          <div class="bg-layer"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="large-section-padding section-bg1">
    <div class="container right-direction">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-auto align-center">
          <h2>مشتریان ما</h2>
          <h6 class="fw-medium fs-18 text-right">حیات یک شرکت مشتریان آن می باشد.</h6>
          <h6 class="fw-medium fs-18 text-right">خرسندیم که با خدمات ارزنده خویش به حلقه مشتریان خویش وسعت می
            بخشیم.</h6>
          <br>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
          <div
            class="crumina-module crumina-module-slider crumina-slider--testimonial navigation-center-both-sides pagination-bottom-center">
            <div class="swiper-btn-prev position-absolute" style="top: 50px;">
              <svg class="crumina-icon icon-line-arrow-left">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </div>
            <div class="swiper-btn-next position-absolute" style="top: 50px;">
              <svg class="crumina-icon icon-line-arrow-right">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </div>
            <div class="swiper-container" data-show-items="5" data-prev-next="1">
              <div class="swiper-wrapper">
                <div class="swiper-slide align-center" *ngFor="let customer of customers">
                  <a href="{{customer.link}}" class="crumina-module clients-item">
                    <!--                    <img [src]="customer.path" alt="Client" class="img-thumbnail customer-logo">-->
                    <img class="img-thumbnail customer-logo" [defaultImage]="'assets/img/loader-2.svg'"
                         [lazyLoad]="customer.path.toString()" alt="products">
                  </a>
                </div>
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="large-section-padding direction-rtl">
    <div class="container">
      <div class="row mb-5 align-center  justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <h2>جدیدترین بلاگ های ما را بخوانید</h2>
          <p class="fs-18 fw-medium right-direction">با مطالعه بلاگهای ما از جدیدترین های تکنولوژی و گرافیک باخبر
            شوید!</p>
        </div>
      </div>
      <div class="row right-direction">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb30 text-right" *ngFor="let blog of latestBlog">
          <article class="entry post post-standard has-post-thumbnail">
            <div class="post-thumb">
              <img [defaultImage]="'assets/img/loader-2.svg'"
                   [lazyLoad]="blog.path.toString()" alt="blog">
            </div>
            <div class="post-content pt-4">
              <div class="row">
                <h6 class=" float-right col-lg-7 "><a
                  routerLink="../blog/blog-details/{{blog.id}}/{{blog.title}}/{{blog.blog_category_id}}"
                  class="post-title h6">{{blog.title}}</a></h6>
                <p class=" float-left col-lg-5">{{blog.created_at| date: 'MMM d, y'}}</p>
              </div>
              <div class="post-text ">
                <p><span [innerHTML]=" blog.content  |sanitizeHtml "></span></p>
              </div>
              <div class="post-additional-info">
                <div class="author-posted">
                  <p class="author">نوشته شده توسط:{{blog.full_name}}</p>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center">
          <a routerLink="../blog" class="crumina-button button--dark button--l">مشاهده بلاگها</a>
        </div>
      </div>
    </div>
  </section>

</div>

