<div class="main-content-wrapper">

  <section class="crumina-stunning-header stunning-header-bg6 pb60">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto align-center">
          <h1 class="page-title text-white">{{"WHO_WE_ARE"|translate}}</h1>
          <p class="page-text text-white right-direction">
            {{"WHO_WE_ARE_TEXT"|translate}}
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="crumina-breadcrumbs breadcrumbs--blue-themes">
    <div class="container right-direction">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class="breadcrumbs">
            <li class="breadcrumbs-item float-right">
              <a href="../home">{{"HOME"|translate}}</a>
              <span class="crumina-icon">»</span>
            </li>
            <li class="breadcrumbs-item float-right">
              <a>{{"ABOUT_US"|translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="large-section-padding bg-grey">
    <div class="container">
      <div class="row" *ngFor="let aboutUs of aboutUsInfo">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 align-center mb-5 ml-auto mr-auto">
          <h2>{{"KNOW_US"|translate}}</h2>
          <p class="fs-18 fw-medium" [innerHTML]="aboutUs.content"></p>
          <img [src]="aboutUs.path" alt="">
        </div>
      </div>
      <div class="row tabs tabs--time-line align-items-center">
        <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="time-2018" role="tabpanel" aria-labelledby="time-2018-tab">
              <div class="row align-items-center">
                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                  <div class="tabs--time-line-content text-right">
                    <h3 class="tabs--time-line-title">{{"COMPANY_FOUNDATION"|translate}}</h3>
                    <p class="right-direction">
                      {{"COMPANY_FOUNDATION_TEXT1"|translate}}
                    </p>
                    <p class="right-direction">
                      {{"COMPANY_FOUNDATION_TEXT2"|translate}}
                    </p>
                    <p>
                    </p>
                  </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0">
                  <div class="tabs--time-line-thumb">
                    <img [defaultImage]="'assets/img/loader-2.svg'"
                         lazyLoad="assets/img/demo-content/icons/a2.png" alt="blog">
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="time-2019" role="tabpanel" aria-labelledby="time-2019-tab">
              <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0">
                  <div class="tabs--time-line-thumb">
                    <img [defaultImage]="'assets/img/loader-2.svg'"
                         lazyLoad="assets/img/demo-content/icons/a3.png" alt="about us">
                  </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                  <div class="tabs--time-line-content text-right">
                    <!--                    <div class="tabs&#45;&#45;time-line-subtitle">November, 2017</div>-->
                    <h3 class="tabs--time-line-title">{{"ACHIEVEMENTS"|translate}}</h3>
                    <p class="right-direction">
                      {{"ACHIEVEMENTS_TEXT"|translate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane" id="time-2020" role="tabpanel" aria-labelledby="time-2020-tab">
              <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0">
                  <div class="tabs--time-line-thumb">
                    <img [defaultImage]="'assets/img/loader-2.svg'"
                         lazyLoad="assets/img/demo-content/tabs-time-line/time-thumb.png" alt="blog">
                  </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12 text-right right-direction">
                  <div class="tabs--time-line-content">
                    <!--                    <div class="tabs&#45;&#45;time-line-subtitle">November, 2019</div>-->
                    <h3 class="tabs--time-line-title">{{"START_GRAPHIC_SERVICES"|translate}}</h3>
                    <p>
                      {{"START_GRAPHIC_SERVICES_TEXT1"|translate}}
                    </p>
                    <p>
                      {{"START_GRAPHIC_SERVICES_TEXT2"|translate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mb-4 mb-lg-0">
          <div class="nav nav-tabs" id="myTab" role="tablist">
            <a class="nav-item nav-link active" id="time-2018-tab" data-toggle="tab" href="#time-2018" role="tab"
               aria-controls="time-2018" aria-selected="false">
              2018
              <div class="nav-item--point">
                <div class="nav-item--arrow-wrap">
                  <svg class="crumina-icon">
                    <use xlink:href="#icon-arrow-left"></use>
                  </svg>
                </div>
              </div>
            </a>
            <a class="nav-item nav-link" id="time-2019-tab" data-toggle="tab" href="#time-2019" role="tab"
               aria-controls="time-2019" aria-selected="false">
              2019
              <div class="nav-item--point">
                <div class="nav-item--arrow-wrap">
                  <svg class="crumina-icon">
                    <use xlink:href="#icon-arrow-left"></use>
                  </svg>
                </div>
              </div>
            </a>
            <a class="nav-item nav-link" id="time-2020-tab" data-toggle="tab" href="#time-2020" role="tab"
               aria-controls="time-2020" aria-selected="false">
              2020
              <div class="nav-item--point">
                <div class="nav-item--arrow-wrap">
                  <svg class="crumina-icon">
                    <use xlink:href="#icon-arrow-left"></use>
                  </svg>
                </div>
              </div>
            </a>

          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="large-section-padding bg-blue-themes">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 align-center mb-5 ml-auto mr-auto">
          <h2 class="text-white">{{"WHAT_HAPPENED"|translate}}</h2>
          <p class="fs-18 fw-medium text-white">{{"WHAT_HAPPENED_TEXT"|translate}}</p>
        </div>
      </div>

      <div class="row  right-direction">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="tabs tabs--style6">
            <div class="nav nav-tabs" id="tabs-with-slider" role="tablist">
              <a class="nav-item nav-link active " id="simplified-cloud-tab" data-toggle="tab" href="#simplified-cloud"
                 role="tab" aria-controls="simplified-cloud" aria-selected="true">
                <img loading="lazy" src="assets/img/demo-content/icons/customer.png" alt="tab">
                {{"CLIENTS"|translate}}
                <span class="font-size-large">
                  +40
                </span>
              </a>
              <a class="nav-item nav-link" id="instant-setup-tab" data-toggle="tab" href="#instant-setup" role="tab"
                 aria-controls="instant-setup" aria-selected="false">
                <img loading="lazy" src="assets/img/demo-content/icons/product.png" alt="tab">
                {{"PRODUCTS"|translate}}

                <span class="font-size-large">
                  +5
                </span>
              </a>
              <a class="nav-item nav-link " id="boost-website-speed-tab" data-toggle="tab"
                 href="#boost-website-speed" role="tab" aria-controls="boost-website-speed" aria-selected="false">
                <img loading="lazy" src="assets/img/demo-content/icons/project.png" alt="tab">
                {{"PROJECTS"|translate}}
                <span class="font-size-large">
                   +30
                </span>
              </a>
            </div>
          </div>

          <div class="tab-content right-direction" id="myTabContent6">
            <div class="tab-pane fade show active" id="simplified-cloud" role="tabpanel"
                 aria-labelledby="simplified-cloud-tab">
              <div class="crumina-module crumina-module-slider pagination-bottom-center">
                <div class="swiper-container" data-show-items="1" data-prev-next="1" data-space-between="0">
                  <div class="swiper-wrapper">
                    <div class="row align-items-center">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                        <h3 class="text-white"> {{"CLIENTS"|translate}}</h3>
                        <p class="text-white">{{"CLIENTS_TEXT"|translate}} </p>
                        <p class="text-white">{{"CLIENTS_CATEGORY"|translate}}</p>
                        <ul class="list--standard list--icon-blue">
                          <li>
                            <svg class="crumina-icon">
                              <use xlink:href="#icon-single-arrow"></use>
                            </svg>
                            <span>&nbsp;&nbsp;</span>
                            <span class="text-white">{{"SOFTWARE_CLIENTS"|translate}}</span>
                          </li>
                          <li>
                            <svg class="crumina-icon">
                              <use xlink:href="#icon-single-arrow"></use>
                            </svg>
                            <span>&nbsp;&nbsp;</span>
                            <span class="text-white">{{"GRAPHIC_CLIENTS"|translate}}</span>
                          </li>
                          <li>
                            <svg class="crumina-icon">
                              <use xlink:href="#icon-single-arrow"></use>
                            </svg>
                            <span>&nbsp;&nbsp;</span>
                            <span class="text-white">{{"CONSULTANCY_CLIENTS"|translate}}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-4 mb-md-0">
                        <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                             lazyLoad="assets/img/demo-content/images/customers.png" alt="products">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="instant-setup" role="tabpanel" aria-labelledby="instant-setup-tab">
              <div class="crumina-module crumina-module-slider pagination-bottom-center">

                <div class="swiper-container" data-show-items="1" data-prev-next="1" data-space-between="0">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                      <h3 class="text-white">{{"PRODUCTS"|translate}}</h3>
                      <p class="text-white">
                        {{"PRODUCTS_TEXT"|translate}}
                      </p>
                      <p class="text-white">{{"OUR_PRODUCTS"|translate}}</p>
                      <ul class="list--standard list--icon-blue">
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">{{"BIOMETRIC_SYSTEM"|translate}}</span>
                        </li>
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">{{"HOSPITAL_SYSTEM"|translate}}</span>
                        </li>
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">{{"RESTAURANT_SYSTEM"|translate}}</span>
                        </li>
                        <li>
                          <svg class="crumina-icon">
                            <use xlink:href="#icon-single-arrow"></use>
                          </svg>
                          <span>&nbsp;&nbsp;</span>
                          <span class="text-white">{{"SCHOOL_SYSTEM"|translate}}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-md-0">
                      <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                           lazyLoad="assets/img/demo-content/images/products.png" alt="products">

                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="boost-website-speed" role="tabpanel"
                 aria-labelledby="boost-website-speed-tab">
              <div class="crumina-module crumina-module-slider pagination-bottom-center">

                <div class="swiper-container" data-show-items="1" data-prev-next="1" data-space-between="0">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-right">
                      <h3 class="text-white">{{"PROJECTS"|translate}}</h3>
                      <p class="text-white">
                        {{"PROJECT_TEXT"|translate}}
                      </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-md-0">
                      <img loading="lazy" [defaultImage]="'assets/img/loader-2.svg'"
                           lazyLoad="assets/img/demo-content/images/projects.png" alt="products">
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Team Members -->


  <!--  <section class="large-section-padding bg-grey">-->
  <!--    <div class="container">-->
  <!--      <div class="row direction-rtl">-->
  <!--        <div class="col-lg-4"></div>-->
  <!--        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-5 text-right">-->
  <!--          <h2> تیم ما را بشناسید</h2>-->
  <!--          <p class="fs-18 fw-medium"></p>-->
  <!--        </div>-->
  <!--      </div>-->

  <!--      <div class="row">-->
  <!--        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0">-->
  <!--          <div class="crumina-module crumina-teammember-item">-->
  <!--            <div class="teammembers-thumb bg-blue-themes">-->


  <!--              <img loading="lazy" src="assets/img/demo-content/teammembers/teammember1.png" alt="team member">-->

  <!--            </div>-->
  <!--            <div class="teammember-content">-->
  <!--              <a href="#" class="h6 teammembers-item-name">JONATHAN SIMPSON</a>-->
  <!--              <div class="teammembers-item-prof">Company Founder</div>-->
  <!--              <p class="teammembers-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
  <!--              <ul class="socials socials&#45;&#45;grey">-->
  <!--                <li>-->
  <!--                  <a href="#">-->
  <!--                    <svg class="crumina-icon" width="10px" height="20px">-->
  <!--                      <use xlink:href="#icon-facebook"></use>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                  <a href="#">-->
  <!--                    <svg class="crumina-icon" width="20px" height="16px">-->
  <!--                      <use xlink:href="#icon-twitter"></use>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                  <a href="#">-->
  <!--                    <svg class="crumina-icon" width="20px" height="20px">-->
  <!--                      <use xlink:href="#icon-instagram"></use>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                  <a href="#">-->
  <!--                    <svg class="crumina-icon" width="20px" height="14px">-->
  <!--                      <use xlink:href="#icon-youtube"></use>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                  <a href="#">-->
  <!--                    <svg class="crumina-icon" width="16px" height="20px">-->
  <!--                      <use xlink:href="#icon-pinterest"></use>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </li>-->
  <!--              </ul>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">-->
  <!--          <div class="crumina-module crumina-teammember-item">-->
  <!--            <div class="teammembers-thumb bg-white">-->


  <!--              <img loading="lazy" src="assets/img/demo-content/teammembers/teammember4.png" alt="team member">-->

  <!--            </div>-->
  <!--            <div class="teammember-content">-->
  <!--              <a href="#" class="h6 teammembers-item-name">BRITNEY SIMPSON</a>-->
  <!--              <div class="teammembers-item-prof">Head of Marketing</div>-->
  <!--              <p class="teammembers-description">Nam aliquam sem et tortor consequat id porta.</p>-->
  <!--              <ul class="socials socials&#45;&#45;grey">-->
  <!--                <li>-->
  <!--                  <a href="#">-->
  <!--                    <svg class="crumina-icon" width="10px" height="20px">-->
  <!--                      <use xlink:href="#icon-facebook"></use>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                  <a href="#">-->
  <!--                    <svg class="crumina-icon" width="20px" height="16px">-->
  <!--                      <use xlink:href="#icon-twitter"></use>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                  <a href="#">-->
  <!--                    <svg class="crumina-icon" width="20px" height="20px">-->
  <!--                      <use xlink:href="#icon-instagram"></use>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                  <a href="#">-->
  <!--                    <svg class="crumina-icon" width="20px" height="14px">-->
  <!--                      <use xlink:href="#icon-youtube"></use>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </li>-->
  <!--                <li>-->
  <!--                  <a href="#">-->
  <!--                    <svg class="crumina-icon" width="16px" height="20px">-->
  <!--                      <use xlink:href="#icon-pinterest"></use>-->
  <!--                    </svg>-->
  <!--                  </a>-->
  <!--                </li>-->
  <!--              </ul>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>-->


  <!--  Customer Review-->
  <section class="large-section-padding">
    <div class="container right-direction ">
      <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 m-auto align-center">
          <h2>{{"WHAT_OUR_CLIENTS_SAY"|translate}}</h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3 right-direction">
          <div
            class="crumina-module crumina-module-slider crumina-slider--testimonial navigation-center-both-sides pagination-bottom-center">

            <div class="swiper-btn-prev">
              <svg class="crumina-icon icon-line-arrow-left">
                <use xlink:href="#icon-arrow-left"></use>
              </svg>
            </div>

            <div class="swiper-btn-next">
              <svg class="crumina-icon icon-line-arrow-right">
                <use xlink:href="#icon-arrow-right"></use>
              </svg>
            </div>

            <div class="swiper-container" data-show-items="2" data-prev-next="1">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let customer of customerReview">
                  <div class="crumina-module crumina-testimonial-item testimonial--with-border">
                    <div class="avatar">
                      <img width="100" height="100" [defaultImage]="'assets/img/loader-2.svg'"
                           [lazyLoad]="customer?.path.toString()" alt="customers">

                    </div>
                    <h6 class="testimonial-text" [innerHTML]="customer.review">
                    </h6>

                    <div class="author-content">
                      <a class="author-name h6">{{customer.title}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
