<!-- Footer -->

<footer id="site-footer" class="footer footer--dark footer--with-decoration right-direction">
  <div class="footer-content text-right">
    <div class="container">
      <div class="row justify-content-between {{'right_direction'|translate}} ">
        <!--        <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0 mt-2" *ngFor="let service of services">-->
        <!--          <div class="widget widget_links">-->
        <!--            <h5 class="widget-title pr-4">-->
        <!--              {{service.service_category_name}}-->
        <!--            </h5>-->
        <!--            <ul>-->
        <!--              <li *ngFor="let serviceItem of service.services">-->
        <!--                <a routerLink="../services/services-details/{{serviceItem.service_id}}/{{serviceItem.title}}">-->

        <!--                  <svg class="crumina-icon">-->
        <!--                    <use xlink:href="#icon-triangle-arrow"></use>-->
        <!--                  </svg>-->
        <!--                  {{serviceItem.title}}-->
        <!--                </a>-->
        <!--              </li>-->
        <!--            </ul>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4 mb-lg-0 mt-4 {{'right_direction'|translate}}   ">
          <div class="widget widget_links">
            <h5 class="widget-title pr-4">
              {{'COMPANY'|translate}}
            </h5>
            <ul>
              <li>
                <a routerLink="../about-us">
                  <svg class="crumina-icon ">
                    <use xlink:href="#icon-triangle-arrow"></use>
                  </svg>

                  {{'SERVICES'|translate}}

                </a>
              </li>
              <li>
                <a routerLink="../services">
                  <svg class="crumina-icon">
                    <use xlink:href="#icon-triangle-arrow"></use>
                  </svg>

                  {{'PRODUCTS'|translate}}


                </a>
              </li>
              <li>
                <a routerLink="../projects">
                  <svg class="crumina-icon">
                    <use xlink:href="#icon-triangle-arrow"></use>
                  </svg>

                  {{'PORTFOLIO'|translate}}


                </a>
              </li>
              <li>
                <a routerLink="../blog">
                  <svg class="crumina-icon">
                    <use xlink:href="#icon-triangle-arrow"></use>
                  </svg>

                  {{'BLOG'|translate}}


                </a>
              </li>
              <li>
                <a routerLink="../contact-us">
                  <svg class="crumina-icon">
                    <use xlink:href="#icon-triangle-arrow"></use>
                  </svg>
                  {{'CONTACT_US'|translate}}

                </a>
              </li>
              <li>
                <a routerLink="../about-us">
                  <svg class="crumina-icon">
                    <use xlink:href="#icon-triangle-arrow"></use>
                  </svg>
                  {{'ABOUT_US'|translate}}

                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-0 mb-lg-0 mt-4">
          <div class="widget w-info ">

            <a href="/home" class="site-logo mr-3">
              <img loading="lazy" src="assets/img/demo-content/list-item/color-logo.png" alt="logo" width="185">
            </a>
            <p class="ml-6">{{"FOLLOW_US"|translate}}</p>
            <ul class="socials">
              <li class="ml-2">
                <a href="https://www.facebook.com/raybold20">
                  <img class="crumina-icon " loading="lazy" src="assets/img/theme-content/social-icons/facebook.png"
                       alt="facebook">
                </a>
              </li>
              <li class="ml-2">
                <a href="https://www.instagram.com/raybold_20">
                  <img class="crumina-icon " loading="lazy" src="assets/img/theme-content/social-icons/instagram.png"
                       alt="instagram">
                </a>
              </li>
              <li class="ml-2">
                <a href="https://www.instagram.com/raybold_20">
                  <img class="crumina-icon " loading="lazy" src="assets/img/theme-content/social-icons/linkedin.png"
                       alt="instagram">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-subscribe-panel">
    <div class="container">
      <div class="row align-items-start {{'text_right'|translate}}">
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 mb-4 mb-lg-0 ">
          <h5
            class="footer-subscribe-panel-title text-white {{'right_direction'|translate}}">{{"SUBSCRIBE_TEXT1"|translate}}</h5>
          <span class="footer-subscribe-panel-subtitle ">{{"SUBSCRIBE_TEXT"|translate}}</span>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 mb-0 mb-lg-0">
          <form class="footer-subscribe-form {{'right_direction'|translate}} " [formGroup]="subscribeForm"
                (ngSubmit)="subscribe(subscribeForm.value)">
            <div class="input-btn--inline">
              <input class="input--dark" formControlName="subscribe" type="text"
                     placeholder="{{'ENTER_EMAIL_ADDRESS'|translate}}">
              <button type="button"
                      class="{{'crumina_button'|translate}} button--lime button--l">{{"SUBSCRIBE"|translate}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="sub-footer bg-black">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb-0 mb-lg-0">
          <div class="copyright">
            <span>Copyright © 2020 <a href="/home">Raybold</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>


</footer>
<!-- end footer -->
