<div class="my-preloader" *ngIf="showLoader">
  <div class="loadingio-spinner-spinner-dfxshah3t0j">
    <div class="ldio-b2yysvsypw7">
    <div></div>
    <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div *ngIf="!showLoader">
<app-header></app-header>

<router-outlet></router-outlet>
  <!-- Your Chat Plugin code -->
  <div id="fb-root"></div>
  <div class="fb-customerchat"
       attribution="setup_tool"
       greeting_dialog_display="hide"
       page_id="100735498132216">
  </div>
<app-footer></app-footer>
</div>
