<div class="main-content-wrapper">

  <section class="crumina-stunning-header stunning-header-bg8 pb60">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto align-center">
          <div class="page-category">
            <h6></h6>
          </div>
          <h1 class="page-title text-white">{{productTitle}}</h1>
        </div>
      </div>
    </div>
  </section>

  <div class="crumina-breadcrumbs breadcrumbs--dark-themes ">
    <div class="container right-direction">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class="breadcrumbs">
            <li class="breadcrumbs-item float-right">
              <a href="../../home">{{"HOME"|translate}}</a>
              <span class="crumina-icon">»</span>
            </li>
            <li class="breadcrumbs-item float-right">
              <a href="../products">{{"PRODUCTS"|translate}}</a>
              <span class="crumina-icon">»</span>
            </li>
            <li class="breadcrumbs-item float-right">
              <a>{{productTitle}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="medium-section-padding pb120 ">
    <div class="container right-direction">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mb-4 mb-md-0 wp-caption">
          <article class="entry  post post-standard has-post-thumbnail post-standard-details text-right"
                   *ngFor="let product of productContent">
            <div *ngIf="product.is_main_file !== '1' || product.is_main_file === null">
              <div class="">
                <h6 class="ml-3 mr-3 mt-3">{{product.title}}</h6>
                <img class="full-width" *ngIf="product.file_path!== null" [defaultImage]="'assets/img/loader-2.svg'"
                     [lazyLoad]="product?.file_path.toString()" alt="products">
              </div>
              <div class="ml-3 mr-3 " [innerHTML]="product.content">
              </div>
            </div>
          </article>
          <app-fb-like-share [url]="url"></app-fb-like-share>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <aside aria-label="sidebar" class="sidebar sidebar-right">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto align-center m-0">
                <h4 style="background-color: #eee;border-radius: 5px " class="p-3">{{"MORE_PRODUCTS"|translate}}</h4>
              </div>


              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 sorting-item technology business text-right "
                   data-mh="blog-item" *ngFor="let product of productList">
                <article *ngIf="product.products_id!== productId" class="entry post post-standard has-post-thumbnail">

                  <div class="post-thumb">
                    <img class="full-width" *ngIf="product.path!== null" [defaultImage]="'assets/img/loader-2.svg'"
                         [lazyLoad]="product.path.toString()" alt="products">
                    <!--                    <img *ngIf="product.path!== null-->
                    <!--                            && (product.path.split('.')[1]==='jpg' || product.path.split('.')[1]==='png') "-->
                    <!--                         [src]="product.path" alt="blog">-->
                    <!--                    <video class="wp-caption alignnone" controls-->
                    <!--                           *ngIf="product.path !== null &&-->
                    <!--                                    (product.path.split('.')[1]==='mp4' || product.path.split('.')[1]==='ogg')"-->
                    <!--                           class="margin-top-20">-->
                    <!--                      <source src="{{product.path}}" type="video/mp4">-->
                    <!--                      <source src="{{product.path}}" type="video/ogg">-->
                    <!--                    </video>-->
                  </div>

                  <div class="post-content">
                    <a (click)="getProductDetails(product.products_id,product.title)"
                       class="post-title h6">{{product.title}}</a>

                    <div class="post-text">
                      <p><span [innerHTML]="product.content|formatString"></span></p>
                    </div>
                  </div>
                </article>
              </div>
            </div>

          </aside>
        </div>


      </div>
    </div>

  </section>

</div>
