<div class="main-content-wrapper">

  <section class="crumina-stunning-header stunning-header-bg8 pb60">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto align-center">
          <div class="page-category">
            <h6></h6>
          </div>
          <h1 class="page-title text-white">{{blogName}}</h1>
          <div *ngFor="let blog of blogDetails">
            <div *ngIf="blog?.is_main_file && blog.is_main_file !='0'">
              <p class="page-title text-white right-direction" [innerHTML]="blog?.content"></p>
              <div class="author-posted">
                <p class="right-direction">نویسنده:{{blog.full_name}}</p>
                <p>{{blog.created_at| date: 'MMM d, y'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="crumina-breadcrumbs breadcrumbs--dark-themes">
    <div class="container right-direction">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class="breadcrumbs">
            <li class="breadcrumbs-item float-right">
              <a href="../../home">خانه</a>
              <span class="crumina-icon">»</span>
            </li>
            <li class="breadcrumbs-item float-right">
              <a href="../blog">بلاگ</a>
              <span class="crumina-icon">»</span>
            </li>
            <li class="breadcrumbs-item float-right">
              <a>{{blogName}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="medium-section-padding pb120 ">
    <div class="container right-direction">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pt-3 mb-md-0 wp-caption">
          <article class="entry  post post-standard has-post-thumbnail post-standard-details text-right mb-5"
                   *ngFor="let blog of blogDetails">
            <div *ngIf="!blog?.is_main_file || blog?.is_main_file  === '0' ">
              <div>
                <img *ngIf="blog?.image_path!== null" [defaultImage]="'assets/img/loader-2.svg'"
                     [lazyLoad]="blog?.image_path.toString()" alt="blog">
              </div>
              <h5 class="m-1">{{blog.title}}</h5>
              <div class="ml-1 mr-1 text-justify" [innerHTML]="blog?.content">
              </div>
            </div>

          </article>

          <div>
            <div class="text-right">
              <ul class="tag-list">
                <li class="pl-3 pr-3 pt-1 pb-1 m-1 text-center" *ngFor="let tag of blogTags">
                  <a (click)="navigateToBlog(tag.name)">#{{tag.name}}</a>
                </li>
              </ul>
            </div>
          </div>
          <!--comments-->
          <div class="row">
            <div class="container height-100 ">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="fs-14 c-placeholder mt-2 text-right">لطفا نظریات تان را از طریق کمنت با ما شریک سازید</p>
                <form class="submit-request-form right-direction" [formGroup]="commentsForm"
                      (ngSubmit)="sendComments(commentsForm.value)">
                  <div class="row">
                    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-item col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <input class="input--grey input--squared" formControlName="full_name" type="text"
                               placeholder="نام شما">
                      </div>
                      <div class="form-item col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input class="input--grey input--squared" formControlName="email" name="email" type="email"
                               placeholder="آدرس ایمیل">
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-item">
                        <textarea class="input--grey input--squared" formControlName="comment"
                                  placeholder="نظریات تان را اینجا نبویسید"
                                  rows="4"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center pb-4">
                      <button type="submit" class="crumina-button button--primary button--l">ارسال نظریات</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="container text-right " *ngFor="let comment of comments">
              <!--              <div >-->
              <!--                <img class="author float-right" height="50" width="50"-->
              <!--                     src="assets/img/demo-content/avatars/author1.png" alt="">-->
              <!--              </div>-->
              <h6 class=" m-0 pt-2 pr-2 ">{{comment.full_name}}</h6>
              <p class="m-2">{{comment.created_at| date: 'MMM d, y'}}</p>
              <p class="" [innerHTML]="comment.comment"></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <aside aria-label="sidebar" class="sidebar sidebar-right">

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mx-auto align-center m-0">
                <h4 style="background-color: #eee;border-radius: 5px " class="p-3">بلاگ های مرتبط</h4>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4 sorting-item technology business text-right "
                   data-mh="blog-item" *ngFor="let blog of blogList">
                <article *ngIf="blog.id!== blogId" class="entry post post-standard has-post-thumbnail">

                  <div class="post-thumb">
                    <img *ngIf="blog.path!== null" [defaultImage]="'assets/img/loader-2.svg'"
                         [lazyLoad]="blog?.path.toString()" alt="blog">
                  </div>

                  <div class="post-content">
                    <div class="row text-right">
                      <a (click)="getBlogDetails(blog.id,blog.title)" class="post-title h6 col-sm-6">{{blog.title}}</a>
                      <p class="col-sm-6">{{blog.created_at| date: 'MMM d, y'}}</p>
                    </div>

                    <div class="post-text">
                      <p><span [innerHTML]="blog.content|formatString"></span></p>
                    </div>
                    <div class="author-posted">
                      <p class="author">نویسنده:{{blog.full_name}}</p>

                    </div>
                  </div>
                </article>
              </div>
            </div>
          </aside>
        </div>
      </div>


    </div>
  </section>

</div>
