<div class="main-content-wrapper">

  <section class="crumina-stunning-header stunning-header-bg1 pb60">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 m-auto align-center">
          <h1 *ngIf="serviceId" class="page-title text-white"> {{serviceTitle}}</h1>
          <h1 *ngIf="!serviceId" class="page-title text-white"> {{"PORTFOLIO"|translate}}</h1>
          <p class="fw-medium text-white text-center {{'right_direction'|translate}}">{{"PORTFOLIO_TEXT"|translate}}</p>
        </div>
      </div>
    </div>
  </section>

  <div class="crumina-breadcrumbs breadcrumbs--red-themes">
    <div class="container {{'right_direction'|translate}}">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class="breadcrumbs">
            <li class="breadcrumbs-item {{'float_right'|translate}}">
              <a href="../home">{{"HOME"|translate}}</a>
              <span class="crumina-icon">»</span>
            </li>
            <li class="breadcrumbs-item {{'float_right'|translate}}">
              <a>{{"PORTFOLIO"|translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <section class="medium-section-padding pb120 ">
    <div class="container {{'right_direction'|translate}}">
      <div class="row">

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb30 sorting-item business photography" data-mh="blog-item"
             *ngFor="let project of projects">
          <article class="entry post post-standard has-post-thumbnail slider">

            <div class="post-thumb">
              <div class="crumina-module crumina-module-slider pagination-bottom-center">

                <div class="swiper-container" data-show-items="1" data-prev-next="1" data-space-between="0">

                  <div class="swiper-wrapper">

                    <div class="swiper-slide mt-4" *ngFor="let projectFile of project.project_file">
                      <img class="full-width" *ngIf="projectFile.file_path!== null"
                           [defaultImage]="'assets/img/loader-2.svg'"
                           [lazyLoad]="projectFile?.file_path.toString()" alt="service">
                      <!--                      <img *ngIf="projectFile.file_path!== null-->
                      <!--                            && (projectFile.file_path.split('.')[1]==='jpg' || projectFile.file_path.split('.')[1]==='png') "-->
                      <!--                           [src]="projectFile.file_path">-->
                      <!--                      <video class="wp-caption alignnone" controls-->
                      <!--                             *ngIf="projectFile.file_path !== null &&-->
                      <!--                                    (projectFile.file_path.split('.')[1]==='mp4' || projectFile.file_path.split('.')[1]==='ogg')"-->
                      <!--                             class="margin-top-20">-->
                      <!--                        <source src="{{projectFile.file_path}}" type="video/mp4">-->
                      <!--                        <source src="{{projectFile.file_path}}" type="video/ogg">-->
                      <!--                      </video>-->
                    </div>
                  </div>
                </div>

                <!-- If we need pagination -->
                <div class="swiper-pagination pl-5 pr-5 pb-0 pt-4"
                     style="border-radius: 100px; position: relative; "></div>
              </div>
            </div>

            <div class="{{'right_direction'|translate}}">
              <div class="post-category-wrap">
                <a class="post-title h6 align-center">{{project.title}}</a>
              </div>
            </div>

          </article>
        </div>
        <div class="col-12">
          <div class="text-center padding-10">
            <button *ngIf="showButton===true || projects.length >5" class="btn btn-primary"
                    (click)="viewMoreProjects()">
              {{"VIEW_MORE_PROJECTS"|translate}}
            </button>
          </div>
        </div>
      </div>

    </div>
  </section>


</div>


