<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body"><!-- page user profile start -->
      <section class="page-user-profile">
        <div class="row">
          <div class="col-12">
            <!-- user profile content section start -->
            <div class="row">
              <!-- user profile nav tabs content start -->
              <div class="col-lg-12">
                <div class="row">

                  <!-- user profile nav tabs feed middle section start -->
                  <div class="col-lg-12">
                    <!-- user profile nav tabs feed middle section post card start -->
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <h2 class="mb-2">افزودن محصول جدید</h2>
                          <br>
                          <form [formGroup]="productForm" (ngSubmit)="addProduct(productForm.value)">
                            <div class="row">
                              <div class="col-4">
                                <label>نام محصول<span class="required">&nbsp;*</span></label>
                                <div class="form-group row">
                                  <div class=" col-sm-11 col-10">
                                    <input class="form-control border-0 shadow-none" formControlName="title"
                                           [ngClass]="{'is-invalid': (productForm.get('title').dirty ||
                          productForm.get('title').touched) && f.title.errors}"
                                           placeholder="نام محصول"/>
                                    <div *ngIf=" f.title.errors" class="invalid-feedback text-left">
                                      <div *ngIf="f.title.errors.required"> {{errorMessages.required}}</div>
                                      <div *ngIf="f.title.errors.minlength"> {{errorMessages.minLength}}</div>
                                      <div *ngIf="f.title.errors.maxlength"> {{errorMessages.bigMaxLength}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <label class="text-bold-600"> لینک </label>
                                <div class="form-group row">
                                  <div class="col-sm-11 col-10">
                                    <input type="text" class="form-control" [ngClass]="{'is-invalid': (productForm.get('link').dirty ||
                          productForm.get('link').touched) && f.link.errors}" formControlName="link" id="product_link" placeholder="لینک">
                                    <div *ngIf=" f.link.errors" class="invalid-feedback text-left">
                                      <div *ngIf="f.link.errors.required"> {{errorMessages.required}}</div>
                                      <div *ngIf="f.link.errors.minlength"> {{errorMessages.minLength}}</div>
                                      <div *ngIf="f.link.errors.maxlength"> {{errorMessages.bigMaxLength}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <label class="text-bold-600"> زبان </label>
                                <div class="form-group row">
                                  <div class="col-sm-11 col-10">
                                    <select class="form-control" [ngClass]="{'is-invalid': (productForm.get('language').dirty ||
                          productForm.get('language').touched) && f.language.errors}" formControlName="language" required>
                                      <option selected disabled value="">نوعیت زبان</option>
                                      <option>
                                        da
                                      </option>
                                      <option>
                                        en
                                      </option>
                                    </select>
                                    <div *ngIf=" f.language.errors" class="invalid-feedback text-left">
                                      <div *ngIf="f.language.errors.required"> {{errorMessages.required}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-sm-12 col-lg-3  d-flex align-items-end ">
                                <button type="submit" [disabled]="!isValid()"
                                        class="btn btn-primary btn-block glow users-list-clear mb-0">ثبت
                                </button>
                              </div>
                              <div class="col-12 col-sm-12 col-lg-3 d-flex align-items-end">

                                <button type="reset" (click)="reset()"
                                        class="btn btn-secondary btn-block glow users-list-clear mb-0">لغو
                                </button>
                              </div>

                            </div>
                          </form>

                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-content">
                        <div class="content-body"><!-- invoice list -->
                          <section class="invoice-list-wrapper">
                            <!-- create invoice button-->
                            <!-- Options and filter dropdown button-->
                            <div class="table-responsive">
                              <table class="table dt-responsive nowrap">
                                <thead>
                                <tr>
                                  <th>
                                    <span class="align-middle">شماره</span>
                                  </th>
                                  <th>نام محصول</th>
                                  <th>لینک محصول</th>
                                  <th>زبان</th>
                                  <th>اضافه نمودن محتوا</th>
                                  <th>ویرایش محصول</th>
                                  <th>حذف محصول</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let product of products;let i=index">
                                  <td>
                                    <span class="bullet bullet-success bullet-sm"></span>
                                    <small class="text-muted">{{i + 1 }}</small>
                                  </td>
                                  <td>{{product?.title}}</td>
                                  <td>{{product?.link}}</td>
                                  <td>{{product?.language}}</td>
                                  <td>
                                    <button class="btn btn-warning"
                                            routerLink="../add-product-content/{{product.id}}/{{product.title}}/{{product.language}}">
                                      محتوای محصول
                                    </button>
                                  </td>
                                  <td>
                                    <button title="ویرایش" (click)="editProductInfo(product)"
                                            class="btn btn-outline-success"><i
                                      class="bx bx-edit-alt"></i></button>
                                  </td>
                                  <td>
                                    <button (click)="deleteProduct(product.id)" title="حذف"
                                            class="btn btn-outline-danger"><i
                                      class="bx bx-trash c-red"></i></button>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </section>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- END: Content-->
